# =========================
# Node.js
# =========================
node_modules/

# =========================
# Python
# =========================
venv/
__pycache__/
*.pyc

# =========================
# Environment Files
# =========================
.env

# =========================
# VS Code
# =========================
.vscode/

# =========================
# Build Files
# =========================
dist/
build/

# =========================
# AI Training Outputs
# =========================
results/
tmp_trainer/

# =========================
# Logs
# =========================
*.log

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

ai-service/models/